<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h4>Delivery Boy Management</h4>
        </div>
        <img class="card-img-top" src="assets/images/delivery_boys.jpg" alt="Delivery boys" height="290">
        <div class="card-body">
          <p class="card-text">Delivery boys management- CRUD.</p>
        </div>
        <div class="card-footer bg-transparent">
          <a href="#" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h4>Shop Management</h4>
        </div>
        <img class="card-img-top" src="assets/images/store.jpeg" alt="Store" height="290">
        <div class="card-body">
          <p class="card-text">Shops management- CRUD.</p>
        </div>
        <div class="card-footer bg-transparent">
          <a href="#" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header ">
          <h4>Delivery Management</h4>
        </div>
        <img class="card-img-top" src="assets/images/delivery.jpeg" alt="Delivery" height="290">
        <div class="card-body">
          <p class="card-text">Delivery management- Add, View.</p>
        </div>
        <div class="card-footer bg-transparent">
          <a href="#" class="btn btn-primary">Manage</a>
        </div>
      </div>
    </div>
  </div>
</div>
