<div class="container">
  <div class="row">
    <div class="col-12">
      --------brudcrumb here---------
    </div>
  </div>


  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3>Delivery Boy Management</h3>
        </div>
        <div class="card-block">
          <h4 class="card-title">Delivery Boy Management</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3>Shop Management</h3>
        </div>
        <div class="card-block">
          <h4 class="card-title">Shop Management</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <h3>Delivery</h3>
        </div>
        <div class="card-block">
          <h4 class="card-title">Delivery</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

</div>
