<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h4>Delivery Assignments</h4>
    </div>
    <div class="card-body">
      <!-- <app-list-table (onRowSelect)="onClick($event)" [headerData]="tableHeader" [listData]="dataSet" [listKeys]="dataKey"></app-list-table> -->
      <p-dataTable [rows]="8" [paginator]="true" [value]="dataSet" selectionMode="single" (onRowSelect)="onRowSelect($event)">
        <p-column *ngFor="let col of tableColumn" [field]="col.field" [header]="col.header"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>
