<header>
  <div class="container-fluid">
    <div class="row header-footer">
      <div class="col">
        <h1>{{title}}</h1>
      </div>
    </div>
  </div>
</header>
<div class="body">
   <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>------------------------------------CONTENT HERE-----------------------------------</h1>
      </div>
    </div>
  </div>
</div>
<!--Footer-->
<footer class="page-footer blue center-on-small-only">
    <div class="container-fluid">
      <div class="row header-footer">
        <div class="col">
        <p> © 2015 Copyright: <a href="https://www.abcdelveryddfdf.com"> abcdelivery.com </a></p>
      </div>
      </div>

    </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
